[loggers]
keys=root,sampleLogger,main

[handlers]
keys=consoleHandler,infoFileHandler,errorFileHandler

[formatters]
keys=sampleFormatter

[logger_root]
level=DEBUG
handlers=consoleHandler,infoFileHandler
qualname=root
propagate=0

[logger_main]
level=INFO
handlers=consoleHandler,infoFileHandler,errorFileHandler
qualname=__main__
propagate=0

[logger_sampleLogger]
level=DEBUG
handlers=consoleHandler
qualname=sampleLogger
propagate=0

[handler_infoFileHandler]
class=logging.handlers.RotatingFileHandler
level=INFO
formatter=sampleFormatter
maxBytes=10485760
backupCount=20
encoding=utf8
args=('info.log', 'a')

[handler_errorFileHandler]
class=logging.handlers.RotatingFileHandler
level=ERROR
formatter=sampleFormatter
maxBytes=10485760
backupCount=20
encoding=utf8
args=('error.log', 'a')

[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=sampleFormatter
args=(sys.stdout,)

[formatter_sampleFormatter]
class=logging.Formatter
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
